<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-view-data-nodesql></app-view-data-nodesql> -->


<!-- <app-top-header></app-top-header>           -->
<router-outlet></router-outlet>

<!-- <html>
<body>

        <div class="header">
          <a href="#default" class="logo">Nature School</a>
          <div class="header-right">
            <a class="active" routerLink ='/'>Home</a>
            <a  *ngIf="!acToken ; else tokehAVE" routerLink ='/login' >Login</a>
            <ng-template #tokehAVE>
            <a  (click)="logOut()" >Logout</a>
            </ng-template>
            <a routerLink="/signup">SignUp</a>
          </div>
        </div>
        
        
   
        </body>
        </html> -->