<html>

<body>
  <header>
    <app-top-header></app-top-header>
  </header>&nbsp;&nbsp;&nbsp;
  <h4 class="text-center">Nature School Managments</h4>
  <section >
    <app-navigator></app-navigator>
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h2 class = 'text-center'> Students Fees Details</h2>
    </div>
<hr>
    <table class = "text-center"  align="center" style="width:70%">
      <tr>
        <th>Class</th>
        <th>Fees</th>
        <th>Books</th>
        <th>Culture Activities</th>
        <th>Total Fees/Year</th>
      
      </tr>
    
      <tr *ngFor ="let fees of totalfEES">
        <td>{{fees.class}}</td>
        <td>{{fees.Fees}}</td>
        <td>{{fees.Books}}</td>
        <td>{{fees.culActivties}}</td>
        <td>{{fees.Fees + fees.Books + fees.culActivties }} INR</td>
        <!-- <td><button type=button class="btn btn-info btnblock" (click)="navigatetoAdd(student.Rank)" title="update" >Update
        </button>&nbsp;&nbsp;<button type=button class="btn btn-danger btnblock" 
         (click) = "deletedata(student)" title="delete"> Delete</button> </td> -->
      </tr>
    </table>
<hr>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
    ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
     and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

<hr>
  </section>

  <footer class="footer">
    <p>Footer</p>
  </footer>

</body>

</html>