<html>

    <body>
      <header>
        <h4 class="text-center">Nature School Managments</h4>
      </header>
    
      <section>
        <nav>
    
          <button type="button" class="btn-info btn btn-space" routerLink='/' routerLinkActive="active">Our School</button><br>
    
          <hr>
    
          <button type="button" class="btn-info btn btn-space" routerLink="/totalStudents" routerLinkActive="active">Total Students</button><br>
    
          <hr>
    
          <button type="button" class="btn-info btn btn-space" routerLink="/addStudents" routerLinkActive="active">Add Stuednts Profile</button><br>
    
          <hr>
    
          <button type="button" class="btn-info btn btn-space" routerLink="/feestructure" routerLinkActive="active">Fee Structure</button>
    
    
        </nav>
      </section>
    
      <div class="container">
      <form >
        <h6 class="text-center">Sign Up</h6>
        <div class="row">
          <div class="col-8">
              <input type="text" class=form-control name="FirstName" placeholder="FirstName" required> <br>
              <input type="text" class=form-control name="lastName" placeholder="lastName" required><br>
            <input type="text" class=form-control name="username" placeholder="username/email" required><br>
            <input type="password" class=form-control name="password" placeholder="Password" required><br>
            <input type="password" class=form-control name="cnfpassword" placeholder="Confirm Password" required> <br>
            <input type="submit" value="sign up">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/login" style="color:blue" class="btn">login</a>
          </div>
          
        </div>
      </form>
      <div class="row">
      </div>
    </div>  
    
    <footer class =" footer">
      <p>Footer</p>
    </footer>
    
    </body>
    
    </html>

