<html>

<body>
  <header>
      <app-top-header></app-top-header>          
  </header>&nbsp;&nbsp;&nbsp;
  <h4 class="text-center">Nature School Managments</h4>
  <section  class=col-12>
    <div class ="col-6">
    <nav> 

      <button type="button" class="btn-info btn btn-space " routerLink='/' routerLinkActive="active" >Our School</button><br>

      <hr>

      <button type="button" class="btn-info btn btn-space" routerLink="/totalStudents" routerLinkActive="active">Total Students</button><br>

      <hr>

      <button type="button" class="btn-info btn btn-space" routerLink="/addStudents" routerLinkActive="active">Add Stuednts Profile</button><br>

      <hr>

      <button type="button" class="btn-info btn btn-space" routerLink="/feestructure" routerLinkActive="active">Fee Structure</button>


    </nav> 
  </div> 
      <!-- <div  routerLink="/login" class="btn-success btn btn-space ">
        Login Here
      </div> &nbsp;&nbsp;&nbsp;
      <div  routerLink="/signup"  class="btn-success btn btn-space ">
        signUp Here
      </div> &nbsp;&nbsp;&nbsp; -->
      
       <div class=" col-mid-6"> 
          <h3 class="text-center text-info">About Our SChool .</h3>&nbsp;&nbsp;&nbsp;

      <h5 class='h1title text-capitalize '>What is Lorem Ipsum?</h5>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like Aldus PageMaker including versions of Lorem Ipsum</p>

      <h5 class='h1title text-capitalize'>Where does it come from?</h5>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like Aldus PageMaker including versions of Lorem Ipsum</p>
    </div>
  </section>

  <!-- <mat-card class=' card-container-left recruiter-box '>
      <img class =text-left src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="100" height="100"alt="Recruiter">
      <h1 class='h1title text-capitalize text-center' title='Name'>
        <b>Name</b> <br> 
        <b>class</b> <br>
        <b>roll</b> <br>
        <b>rank</b>
      </h1>
    </mat-card> -->

  <footer class ="col-12 footer ">
    <p>Footer</p>
  </footer>

</body>

</html>
<!-- <p>hiii</p> -->